body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.NavigacioniBar{
  height:40px;
  display:grid;
  grid-template-columns: 50px auto auto auto auto;
  background-color: rgb(11, 144, 44);
  justify-items: center !important;
  align-items: center !important;
}
.tabovi{
 color: white;
}
.tabovi{
height: 40px;
}

.links{
  width: 100%;
  text-align: center;
  
  
}
img{
  height:40px;
width: 100%;
}

.home{
  margin-top: 70px;
}
.home .player{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

.home .Buttons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 15px;
}
.invisible{
  visibility: hidden;
}
.prev{
  background-color: black;
  height: 50px;
  color: white;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}
.next{
  background-color: black;
  height: 50px;
  color: white;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}
.next:hover{
  background-color: rgba(104, 104, 104, 0.5);
  color: black;

}
.prev:hover{
  background-color: rgba(104, 104, 104, 0.5);
  color: black;

}
.naslov{
  text-align: center;
}
.NavigacioniBar div:hover{
background-color:rgb(10, 77, 27);

}