body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.NavigacioniBar{
  margin-bottom: 70px;
  height:40px;
  display:grid;
  grid-template-columns: 100px auto auto auto auto;
  background-color: rgb(11, 144, 44);
  justify-items: center !important;
  align-items: center !important;
}
span{
  font-size: x-large;
}
@media only screen and (max-width: 600px) {
  span {
    font-size: small;
    display:grid;
    
  }
.Naslov{
  font-size:25px !important;
  text-align: center;
}
.podnaslov{
  font-size:20px !important;
  display:grid;
grid-template-columns: auto;
justify-content: center;
}
.NavigacioniBar .links .tabovi{
  display:grid;
 
  justify-items: center !important;
  align-items: center !important;
}

}
.podnaslov{
  font-size:35px;
  display:grid;
grid-template-columns: auto;
justify-content: center;
}
div footer{
  margin-top: 70px;
  background-color: rgb(11, 144, 44);
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center !important;
  align-items: center !important;
  height: 150px;
  width: 100%;
}
.Naslov{
  font-size: 65px;
display:grid;
grid-template-columns: auto;
justify-content: center;
}
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
.quote-section .Quote-wrapper{
  display:grid;
  grid-template-columns: auto auto auto;
text-align: center;
font-family: 'Lobster', cursive;}
.quote-section .Author-wrapper{
  display:grid;
  grid-template-columns: auto auto auto;
text-align: center;
color: rgb(156, 156, 156);
}
.content{
  visibility: hidden;
}
.footerTabovi{
  color: white;
}
.tabovi{
 color: white;
}
.tabovi{
height: 40px;
}

.links{
  width: 100%;
  text-align: center;
}
.logotip{
  height:40px;
width: 100%;
}
.quote-section .Buttonss{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 10px;
}
.bck{
width:100% !important;

}
.space{
  height: 32vh;
}
.spacee{
  height: 35vh;
}
.footerIkonice{
  height: 80px;
  width: auto;
}
.home .player{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

.home .Buttons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 15px;
}
.invisible{
  visibility: hidden;
}
.prev{
  background-color: black;
  height: 50px;
  color: white;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

.next{
  background-color: black;
  height: 50px;
  color: white;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}
.next:hover{
  background-color: rgba(104, 104, 104, 0.5);
  color: black;

}
.prev:hover{
  background-color: rgba(104, 104, 104, 0.5);
  color: black;

}
.naslov{
  text-align: center;
}
.NavigacioniBar div:hover{
background-color:rgb(10, 77, 27);
}