body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.NavigacioniBar{
  height:100px;
  display:grid;
  grid-template-columns: 100px auto auto auto auto;
  background-color: rgb(11, 144, 44);
  justify-items: center;
  align-items: center;
}
.tabovi{
 color: white;
}
img{
  height:100px;
width: 150;
}

.home{
  margin-top: 70px;
}
.home .player{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

.home .Buttons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 15px;
}
.invisible{
  visibility: hidden;
}
.prev{
  background-color: black;
  height: 50px;
  color: white;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}
.next{
  background-color: black;
  height: 50px;
  color: white;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}
.next:hover{
  background-color: rgba(104, 104, 104, 0.5);
  color: black;

}
.prev:hover{
  background-color: rgba(104, 104, 104, 0.5);
  color: black;

}
